/* -----------------------------------------
* VARIABLES
-------------------------------------------*/



/* -----------------------------------------
* RESETS
-------------------------------------------*/



/* -----------------------------------------
* GENERICS
-------------------------------------------*/
body {
    background: url('../img/table.jpg') no-repeat top right;
}


/* -----------------------------------------
? ELEMENTS
-------------------------------------------*/
/*** CUSTOM CARD ***/
.card-header {
    padding-top: 36px;
}

.card-footer {
    height: 80px;
}



/* -----------------------------------------
? RESPONSIVE
-------------------------------------------*/
